/* 
    reset 
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
    general 
*/

html{
    font-family: 'Montserrat', sans-serif;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 20px;
}


:root{
    --white-color: #ffffff;
    --blue-background: #141922;
    --footer-gray: #282828;
    --header-blue: #070B12;
    --gray-color: #6E7277;
    --green-color: #ADFF2E;
    --spacing-50: 50px;
    --spacing-30: 30px;
    --spacing-20: 20px;
}

/* 
    main 
*/

.my-row{
    width: 100%;
    display: flex;
    /* height: calc(100vh - 100px); */
}

/* Sezione Aside */

aside{
    min-width: 250px;
    background-color: black;
    /* border: 1px dashed salmon; */
    overflow: auto;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
}


#logo-small{
    display: none;
    width: 60%;
    margin: 0;
}

.responsive-icons{
    display: none;
    width: 60%;
    margin: 0 auto;
}

.responsive-icons img{
    padding: 15px 0;
}

aside > .my-col-left ul{
    list-style: none;
    color: var(--white-color);
    margin-bottom: var(--spacing-50);
}

aside > .my-col-left > .container > :nth-child(2) > li{
    font-size: 1.2em;
    vertical-align: middle;
    color: var(--gray-color);
    margin: 10px 0;
}

aside > .my-col-left ul > li > img{
    width: 10%;
    height: 30px;
    vertical-align: middle;
    margin: 0;
}

aside > .my-col-left img{
    width: 70%;
    margin: var(--spacing-20) 0;
}

.aside-title{
    color: var(--white-color);
    margin-bottom: 10px;
}

.aside-playlist{
    color: var(--gray-color);
    vertical-align: middle;
    margin-bottom: 15px;
}

.plus{
    font-size: 2.2em;
    color: lightgray;
    vertical-align: middle;
}

.playlist-ul{
    height: 100%;
    overflow: auto;
    padding: 0 20px;
    list-style: none;
}

.playlist-ul > li{
    color: var(--gray-color);
    padding-bottom: var(--spacing-20);
    font-size: 0.9em;
}

.my-col-left-bottom{
    color: var(--white-color);
    /* position: sticky;
    top: 100%; */
    margin-bottom: var(--spacing-20);
}

.download-icon{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    padding-top: 10px;
}

.my-col-left-bottom hr{
    width: 100%;
    border: 1px solid var(--gray-color);
    margin: var(--spacing-30) 0;

}

.download{
    vertical-align: middle;
    font-weight: bold;
    font-size: 1em;
    color: var(--gray-color);
    padding-top: 20px;
    display: inline-block;
}

.user{
    vertical-align: middle;
    font-weight: bold;
    font-size: 1.2em;
}

.circle-user{
    width: 30px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
}

.circle-user > img{
    width: 100%;
    height: 100%;
    background-color: #808080;
    border-radius: 50%;
}

/* Sezione main destra */

header{
    background-color: var(--header-blue);
    /* width: 100%; */
    min-height: 100px;
    position: sticky;
    top: 0;
    z-index: 1;
    opacity: 0.5;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header > a{
    color: var(--white-color);
    display: inline-block;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 25px;
    text-decoration: none;
    margin-right: 30px;
}

header > a:hover{
    transform: scale(1.2);
    margin-right: 40px;
}

section{
    width: calc(100% - 250px);
    background-color: var(--blue-background);
    /* border: 1px dashed salmon; */
    height: calc(100vh - 100px);
    overflow: auto;
}

.scroll-margin{
    margin-top: 50px;
}

.my-row-main ul{
    color: var(--white-color);
}

.nav-container > nav > ul{
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.nav-container > nav > ul > li{
    padding: 10px 20px;
}

.nav-container > nav > ul > li a{
    text-decoration: none;
    color: var(--gray-color);
}

.nav-overlay{
    background-color: #ADFF2E;
    width: 60%;
    height: 2px;
    margin: 0 auto;
    margin-top: 5px;
    display: none;
}

.nav-container > nav > ul > li:hover .nav-overlay{
    display: block;
}

.nav-container > nav > ul > li:hover a{
    color: var(--white-color);
}

.my-row-main > h2{
    color: var(--white-color);
    font-size: 2em;
    margin-top: var(--spacing-30);
}

.my-row-main > h3{
    color: var(--gray-color);
    font-size: 0.8em;
    margin-top: 10px;
}

.card-container{
    margin-top: var(--spacing-50);
    display: flex;
    flex-wrap: wrap;
}

.card-container .card{
    width: calc((100% / 6) - 20px);
    min-height: 100px;
    margin-right: 20px;
}

.card-img > img{
    width: 100%;
    display: block;
    margin-bottom: var(--spacing-20);
}

.card-img{
    position: relative;
    width: 100%;
}

.card-overlay{
    background-color: rgb(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    backdrop-filter: blur(0.5px);
    display: none;
}

.card-overlay > i{
    color: var(--white-color);
    font-size: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card:hover .card-overlay{
    display: block;
}

.card h2{
    color: var(--white-color);
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 10px;
}

.card h3{
    color: var(--gray-color);
    font-size: 0.8em;
    text-align: center;
}

.rounded{
    border-radius: 50%;
}

.rounded > img{
    border-radius: 50%;
}

/* Footer */

footer{
    background-color: var(--footer-gray);
    /* border: 1px dashed salmon; */
    height: 100px;
    display: flex;
}

.foot-container{
    padding: 0 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}


footer div{
    color: var(--white-color);
    /* border: 1px dashed salmon; */
    /* width: calc(100% / 3);  */
}

/* foot parte sinistra */

.foot-left{
    width: 25%;
    display: flex;
    align-items: center;
}

.song-box{
    width: 50px;
    height: 50px;
}

.song-box > img{
    display: block;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.artist{
    margin-left: 15px;
}

.song-icons{
    margin-left: var(--spacing-30);
}

.song-icons > i{
    padding-right: 10px;
    color: var(--gray-color);
    font-size: 0.9em;
}

.artist h2{
    font-size: 0.7em;
    margin-bottom: 10px;
}

.artist h3{
    font-size: 0.5em;
    color: var(--gray-color);
}

/* foot parte centrale */

.foot-center{
    width: 50%;
}

.foot-center-icons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px 0;
}

.foot-center-icons li{
    display: inline-block;
    padding: 0 10px;
    font-size: 1.5em;
}

.foot-center-icons a{
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.foot-center-time{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seconds{
    font-size: 0.6em;
    text-align: center;
    padding: 0 var(--spacing-20);
}

.timeline{
    background-color: var(--gray-color);
    width: 70%;
    height: 7px;
    border-radius: 15px;
    position: relative;
}

.timeline-seconds{
    background-color: lightgrey;
    width: 20%;
    height: 7px;
    border-radius: 15px;
    position: absolute;
    top: 0;
    left: 0;
}

/* foot parte destra */

.foot-right{
    width: 25%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.foot-right-icons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;
}

.foot-right-icons li{
    display: inline-block;
    padding: 0 10px;
    font-size: 0.9em;
}

.foot-right-icons a{
    color: inherit;
    text-decoration: none;
    display: inline-block;
}

.small{
    width: 40%;
    margin-left: var(--spacing-20);
}


/* ------- MEDIA QUERY ------- */

/* Breakpoint desktop piccolo */

@media screen and (max-width: 1100px) {

    .nav-container > nav > ul > li{
        padding: 10px 20px;
    }

    .card-container{
        display: flex;
        flex-wrap: wrap;
    }

    .card-container .card{
        width: calc((100% / 4) - 20px);
        min-height: 100px;
        margin-right: 20px;
        margin-bottom: var(--spacing-20);
        
    }

    .foot-right-icons{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 10px 0;
    }
    
    .foot-right-icons li{
        display: inline-block;
        padding: 0 5px;
        font-size: 0.9em;
    }

    .small{
        width: 40%;
        margin-left: 10px;
    }
    
}

/* Breakpoint Tablet */

@media screen and (max-width: 700px) {
    
    .card-container .card{
        width: calc((100% / 2) - 20px);
        min-height: 100px;
        margin-right: 20px;
        margin-bottom: var(--spacing-20);
    }

    .foot-right-icons{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 0;
    }
    
    .foot-right-icons li{
        display: inline-block;
        padding: 0 2px;
        font-size: 0.9em;
    }

    .small{
        width: 40%;
        margin-left: 10px;
    }

}

/* Breakpoint mobile */

@media screen and (max-width: 600px) {

    section{
        width: calc(100% - 50px);
    }

    aside{
        min-width: 50px;
    }

    .logo, aside ul, aside h2, aside h3, aside .my-col-left-bottom{
        display: none;
    }

    /* #logo-small{
        display: block;
        width: 10%;
        margin: 0;
    }

    .responsive-icons{
        display: block;
        width: 10%;
        margin: 0;
    } */

    .responsive-icons, #logo-small{
        display: block;
    }

    .song-icons{
        margin-left: var(--spacing-20);
    }

    .foot-right-icons{
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 10px 0;
    }
    
    .foot-right-icons li{
        display: inline-block;
        padding: 0 2px;
        font-size: 0.9em;
    }
   
}
